:root {
  --negro: #000;
  --blanco: #fff;
  --gris: #a6a9b1;
  --azul: #0000ff;
  --celeste: #4b839c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4e6280;
} 
.contenedor{
  max-width: 1000px;
  margin: 20x auto;
}